<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %>
<body>
    <h1>~ALL POKEMON~</h1>
    <a href="/"><h2>HOME</h2></a>
    <br>
    <a href="/createPokemon">Create a new Pokemon</a>
    <br>

    <% pokemon.forEach((mon)=>{ %>
        <h2>Pokedex No. <%=mon.PokedexNo%></h2>
        <a href="/pokemon/<%=mon.Name%>"><%=mon.Name%></a>
    <%})%>
</body>
</html>