<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %>
<body>
    <h1>Trainer Entry: <%=trainer.Name%></h1>
    <a href="/trainers"><h2>BACK TO INDEX</h2></a>
    <br>


    <h2>Name: <%=trainer.Name%></h2>
    <h2>Hometown: <%=trainer.HomeTown%></h2>

</body>
</html>